body {
  background-color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.container {
  min-width: 100%;
  margin: auto;
  border: 0px;
  padding:0px;
}

#HEADER>.col-xs-8 {
  color: lightblue;
}
#HEADER>*,#FOOTER>* {
  min-height: 100px;
}
#MAIN>*{
  position: relative;
  min-height: 600px;
}
#MAIN>.col-xs-8 {
  padding: 0px;
}
.row-eq-height {
  min-width: 800px;
}
.row-eq-height>* {
  border: red solid .1em;
}
 iframe {
  background-color: white;
  min-height: 540px;
  width: 100%;
}
