body {
  background-color: black;
}

#HEADER .col-8-xs {
  color: lightblue;
}
#HEADER,#FOOTER {
  min-height: 50px;
}
.row>* {
  border: red solid .1em;
}
html body iframe {
  background-color: white;
  height: 100%;
  width: 100%;
}
